<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            Profile
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            Trends
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <a class="list-group-item active">
          <p class="list-group-item-text"><%= render '/components/post_form' %></p>
        </a>
        <% for @p in @posts %>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">@<%= @p.user_id %></h4>
          <p class="list-group-item-text"><%= @p.content %></p>
        </a>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            Who to follow
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            <p>© 2017 Burung Biru <a href="#">About</a> <a href="#">Help Center</a> <a href="#">Terms</a> <a href="#">Privacy policy</a> <a href="#">Cookies</a> <a href="#">Ads info</a> <a href="#">Brand</a> <a href="#">Blog</a> <a href="#">Status</a> <a href="#">Apps</a> <a href="#">Jobs</a> <a href="#">Businesses</a> <a href="#">Developers</a></p>
          </div>
          <div class="panel-footer"><a href="#">Advertise with Burung Biru</a></div>
        </div>
    </div>
</div>
