<div class="row">
    <div class="jumbotron">
        ...
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>© 2017 Burung Biru <a href="#">About</a> <a href="#">Help Center</a> <a href="#">Terms</a> <a href="#">Privacy policy</a> <a href="#">Cookies</a> <a href="#">Ads info</a> <a href="#">Brand</a> <a href="#">Blog</a> <a href="#">Status</a> <a href="#">Apps</a> <a href="#">Jobs</a> <a href="#">Businesses</a> <a href="#">Developers</a></p>
          </div>
          <div class="panel-footer"><p><a href="#">Advertise with Burung Biru</a></p></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
    </div>
</div>
