<div class="row">
    <div class="jumbotron">
        <%= @username %>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            Profile
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            Timeline
          </div>
        </div>
    </div>
    <div class="col-xs-3">
        
        <div class="panel panel-default">
          <div class="panel-body">
            Who to follow
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            Trends
          </div>
        </div>
        
        <p>© 2017 Burung Biru <a href="#">About</a> <a href="#">Help Center</a> <a href="#">Terms</a> <a href="#">Privacy policy</a> <a href="#">Cookies</a> <a href="#">Ads info</a></p>
    </div>
</div>
